.about__year {
  width: 150px;
  min-height: 320px;
  background: url("../img/text-background-img.jpg") no-repeat center;
}

.about__title {
  @include roboto-condensed-400(36px, 51px);
  color: $color-dark-blue;

  @include mobile {
    @include roboto-condensed-400(28px, 39px);
  }
}

.about__text {
  @include pt-mono-400(16px, 22px);
  color: $color-dark-blue;
  max-width: 970px;

  @include tablet {
  max-width: 495px;
  }

  @include mobile {
    @include pt-mono-400(14px, 19px);
  }
}

.about__button {
  @include roboto-condensed-700(14px, 16px);
  color: $color-light-blue;
  letter-spacing: 0.05em;
  background: inherit;
  border: 1px solid $color-light-blue;
  border-radius: 3px;
}
