.advantages__item {
  border: 1px solid $color-gray-border;
  border-left: 5px solid $color-light-blue;
  min-height: 300px;

  @include tablet {
    min-height: 360px;
  }

  @include mobile {
    min-height: 325px;
  }
}

.advantages__title {
  @include roboto-condensed-400(24px, 34px);
  color: $color-light-blue;

  @include mobile {
    @include roboto-condensed-400(20px, 34px);
  }
}

.advantages__text {
  @include pt-mono-400(16px, 21.6px);
  color: $color-dark-blue;
  max-width: 505px;

  @include mobile {
    @include pt-mono-400(14px, 19px);
  }
}
