.announcement {
  background-image: url("../img/background-1-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.announcement__wrapper {
  padding: 305px 0 280px 475px;
}

.announcement__title {
  @include roboto-condensed-700(80px, 93.75px);
  color: $color-white;
  letter-spacing: 0.07em;
  text-transform: uppercase;
}

.announcement__text {
  @include pt-mono-400(22px, 34.1px);
  color: $color-white;
  max-width: 685px;
  padding: 40px 0;
}

.announcement__link {
  @include roboto-condensed-700(18px, 21.09px);
  color: $color-white;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 15px 25px;
  background-color: $color-light-blue;
  border-radius: 3px;
}
