.announcement {
  background-image: url("../img/background-1-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @include tablet {
    background-image: url("../img/background-1-img-tablet.jpg");
  }
}

.announcement__title {
  @include roboto-condensed-700(80px, 93.75px);
  color: $color-white;
  letter-spacing: 0.07em;
  text-transform: uppercase;

  @include tablet {
    @include roboto-condensed-700(64px, 75px);
  }

  @include mobile {
  @include roboto-condensed-700(36px, 42px);
}
}

.announcement__text {
  @include pt-mono-400(22px, 34.1px);
  color: $color-white;
  max-width: 685px;
  padding: 40px 0;

  @include tablet {
    padding: 20px 0 50px;
  }

  @include mobile {
    @include pt-mono-400(14px, 22px);
  }
}

.announcement__link {
  @include roboto-condensed-700(18px, 21.09px);
  color: $color-white;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  background-color: $color-light-blue;
  border-radius: 3px;



  @include mobile {
    @include roboto-condensed-700(14px, 16px);
    text-align: center;
  }
}
