.contacts__title {
  @include roboto-condensed-400(15px, 16px);
  color: white;
  letter-spacing: 0.05em;
  padding-bottom: 20px;
}

.contacts__address {
  @include pt-mono-400(16px, 22px);
  color: white;
  opacity: 0.7;
  padding: 10px;
  padding-left: 0;
}

.contacts__phone-link {
  @include pt-mono-400(16px, 25px);
  display: block;
  color: white;
  opacity: 0.7;
  padding: 5px;
  padding-left: 0;
}
