.page-header {
  background: linear-gradient($header-gradient);
}

.page-header__wrapper {
  min-width: 800px;

  @include tablet {
    min-width: auto;
  }

  @include mobile {
    min-width: 200px;
  }
}

.page-header__link-wrapper {
  width: 35%;
  min-width: 340px;

  @include mobile {
    min-width: 200px;
  }
}

.page-header__email,
.page-header__phone {
  @include pt-mono-400(16px, 18px);
  color: $color-white;
}

.page-header__icon {
  transform: translateY(25%) translateX(-10px);

  @include tablet {
    transform: translateX(0);
  }
}
