extends layout/app

block page
  include chunk/header

  h1.visually-hidden Производство печатных плат компании Smart Device

  include chunk/announcement

  include chunk/advantages

  include chunk/about

  include chunk/services

  include chunk/feedback

  include chunk/footer

