$base-font-size: 28px;

// Colors

$color-white:            #F2F5F6;
$color-blue:             #011C40;
$spare-background:       cornflowerblue;
$overlay-background:     rgba(0, 43, 102, 0.5);
$advantages-active:      #F2F5F5;

// Viewports


$mobile-width:                            767px;
$tablet-width:                           1023px;
