.container
  section.about
    .about__year
    .about__wrapper
      h2.about__title О компании
      p.about__text.
        Мы поставляем электронные комплектующие, производим печатные платы и
        предоставляем мировые технологии с 1997 года. Выполняем срочные заказы и пилотные
        образцы до 10 дней.
      p.about__text.
        Наши поставщики - мировые производители электронных компонентов: OSRAM, CREE,
        HOLGLITRONIC, REFOND. Печатные платы и комплектующие Service Devices применяются на предприятиях
        Российских Железных Дорог (РЖД), РоссАвтоПрома (ВАЗ, АвтоГАЗ), МинАтома, СпецМедТехники. Среди
        наших клиентов крупнейшие Производители светотехники России.
      button.about__button подробнее

