section.announcement
  .container
    .announcement__wrapper
      h2.announcement__title Печатные платы
      p.announcement__text производство и монтаж, поставка комплектующих, блоков и модулей
      a.announcement__link.announcement__link--laptop(href="#") Получить бесплатную консультацию
      a.announcement__link.announcement__link--mobile(href="#") Бесплатная консультация
