div.logo
  a.logo__link: picture
    source(media="(max-width: 768px)", srcset="img/logo-mobile.svg", width="35", height="35")
    img.logo__img(src="img/logo.svg", alt="Логотип компании", width="215", height="55")
