-
  let items = [
    {
      title: 'О Компаниии',
      href: '#'
    },
    {
      title: 'Комплектующие',
      href: '#'
    },
    {
      title: 'Продукты',
      href: '#'
    },
    {
      title: 'Доставка',
      href: '#'
    },
    {
      title: 'Производство печатных плат',
      href: '#'
    },
    {
      title: 'Контакты',
      href: '#'
    },
    {
      title: 'Монтаж печатных плат',
      href: '#'
    }
  ]

nav.navigation
  h2.navigation__title Разделы сайта
  ul.navigation__list
    each item in items
      li.navigation__item
        a(href=item.href).navigation__link #{item.title}

