- let titles = ['Производство печатных плат', 'Монтаж печатных плат', 'Комплектующие для светотехники']
- let href = '#'

section.services
  h2.services__title Smart Device предлагает следующие товары и услуги
  ul.services__list
    each title in titles
      li.services__item
        include service-card
